<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" routerLink="">Event Mgmt.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/index" routerLinkActive="active"  >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about"  routerLinkActive="active">About</a>
              </li>
          </ul> -->
       <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/index" routerLinkActive="active"  >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about"  routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#">Contact</a>
         </li>
          <li  *ngIf="! (isLoggedIn$)" class="nav-item">
              <a class="nav-link" routerLink="/register"  routerLinkActive="active">Register</a>
            </li>
         
           <li  *ngIf="! (isLoggedIn$)" class="nav-item" routerLinkActive="['active']">
              <a class="nav-link" routerLink="/login"  >Login</a>
          </li>
          <li  *ngIf="isLoggedIn$" class="nav-item" >  
            <a class="nav-link"  routerLink="/addLead" >Generate Lead</a>
        </li>
        <li  *ngIf="isLoggedIn$" class="nav-item" >  
          <a class="nav-link"  routerLink="/openLead" >Leads</a>
       </li>
       <li  *ngIf="isLoggedIn$" class="nav-item" >  
        <a class="nav-link"  routerLink="/myLead" >My Leads</a>
       </li>
       <li  *ngIf="isLoggedIn$" class="nav-item" >  
        <a class="nav-link"  routerLink="/completedLeads" >Completed Leads</a>
       </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn$">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administration
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" routerLink="/home">Dashboard</a>
              <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" routerLink="/states">States</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/city">City </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/area">Area</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/rentitems">Rent Items</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="isLoggedIn$">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{loggedUserName}} 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/profile">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/skills">Skills</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/binfo">Business Info</a>
              </div>
      </li> 
         <li  *ngIf="isLoggedIn$" class="nav-item" >  
              <a class="nav-link"  href="javascript:void(0)"  (click)="logout()" >Logout</a>
        </li>
        </ul>
  
    </div>
  </nav>