<form novalidate [formGroup]="form" (ngSubmit)="onClickSubmit(form)">
  <div class="row" style="padding-top: 5px;">
    <div class="col-md-6">
      <h3 >Create New Event</h3> </div>
      <div class="col-md-6 pull-right">
      
        <a class="btn btn-info " routerLink="/index">Back to List</a>
      
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Event Title:</label>
        <input type="text" class="form-control form-control-sm" id="title" placeholder="Enter Event Title"
          formControlName="title">
        <!-- <div  class="invalid-feedback">Please fill out this field.</div> -->
      </div>

      <div class="form-group">
        <label for="uname">Description:</label>
        <textarea type="text" class="form-control  form-control-sm" id="discription" placeholder="Enter Description"
          formControlName="discription"></textarea>
        <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
      </div>
      <div class="form-group">
        <label for="uname">Event Date Range:</label>
        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
          outsideDays="hidden">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
        <span id="err_date" class="text-danger small"></span>
      </div>
      <!-- <div class="form-group">
                  <label for="location">Location:</label>
                  <input type="text" class="form-control form-control-sm" id="location" placeholder="Enter location by map" name="location" required>
               
                </div> -->
    </div>
    <div class="col-md-6 pull-right">
      <div class="form-group">
        <label for="place">Event Place:</label>
        <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
          class="form-control form-control-sm" formControlName="place" id="place" />
        <!-- <div  class="invalid-feedback">Please fill out this field.</div> -->
      </div>

      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>

  <input value="Save" name="button" type="submit" [disabled]="form.invalid" class="btn btn-lg btn-primary">
</form>
